#container{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    color: white;
    padding: 0.5em 1em 1em 1em;
}

.head{
    background: #303652;
    padding: 0.5em;
    border:0.1em solid #011834;
}

body{
    background: #232d3d;
}

div{
    padding-left: 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.section{
    position: relative;
}

.punktir{
    position: relative;
}

.zone{
    position: relative;
    background: #303c52;
}

.checkbox{
    position: absolute;
    right: 0;
    top:0;
}